.addTodoButton {
  width: 120px;
  height: 40px;
  border-radius: 8px;
}

.form-group {
  max-width: 1500px;
}

.divContainer {
  display: inline-block;
}

.vacation-form > form {
  display: inline-block;
  width: 200px;
  margin: 10px;
}

.vacation-form > label {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.selectionDiv {
  display: inline-flex;
}

.formSpan {
  display: inline-block;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 4px;
}

.formHeader {
  color: darkblue;
  font-family: cursive;
  display: block;
  text-align: -webkit-center;
}

.alertMessage {
  border: 2px solid black;
  color: red;
  background-color: white;
  border-radius: 8px;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 20px;
}

.submitButton {
  margin-top: 10px;
  width: 100px;
  font-size: large;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 345px) {
  .vacation-form > label,
  .vacation-form > input,
  .vacation-form > select,
  .vacation-form > span {
    min-width: 140px;
    max-width: 160px;
  }
}

.center {
  display: block;
  text-align: -webkit-center;
}

.uploadInput {
  display: none;
}

.uploadButton {
  margin-top: 10px;
}
