.register > input {
  width: 400px;
  font-size: large;
  margin: 10px;
  padding: 10px;
  outline: none;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register > input:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.register {
  margin-top: 10%;
  display: inline-grid;
}
